<ion-header [translucent]="true" class="ion-color-primary">
  <ion-toolbar>
    <ion-menu contentId="main-content">
      <ion-header>
        <ion-toolbar>
          <ion-title>Herramientas</ion-title>
        </ion-toolbar>
      </ion-header>
      <ion-content class="ion-padding">
      </ion-content>
    </ion-menu>
    <div class="ion-page" id="main-content">
      <ion-header >
        <ion-toolbar>
          <ion-buttons slot="start">
            <ion-menu-button>
              <svg xmlns="http://www.w3.org/2000/svg" width="20" height="10" viewBox="0 0 30 20" fill="none">
                <path d="M0.75 19.5V16.3333H29.25V19.5H0.75ZM0.75 11.5833V8.41667H29.25V11.5833H0.75ZM0.75 3.66667V0.5H29.25V3.66667H0.75Z" fill="white"/>
              </svg>
            </ion-menu-button>
          </ion-buttons>
        </ion-toolbar>
      </ion-header>
    </div>
    <ion-title class="todo-title">
      ToDoApp
    </ion-title>
  </ion-toolbar>
</ion-header>
